body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    background-image: linear-gradient(80deg, rgb(237, 241, 245), rgb(140, 216, 216));
}

.image_login {
    width: 20%;
}

.tela_login {
    background-color: rgba(0, 0, 0, 0.877);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-block: 54px;
    padding-inline: 85px;
    border-radius: 15px;
    color: white;
}

.tela_cadastroUsuario {
    background-color: rgba(255, 255, 255, 0.877);
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-block: 92px;
    padding-inline: 180px;
    border-radius: 15px;
    color: white;
}

.button {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(93, 247, 247);
}

.button.login {
    padding: 6px;
    width: 100%;
}

.button.menu {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.div-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.input_login {
    padding: 6px;
    border: none;
    outline: none;
    font-size: 15px;
}

.input_cadastroUsuario {
    display: block;
    width: 60%;
    padding: 0.375rem 0.75rem;
    padding-left: unset;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.menu_principal {
    display: flex;
    left: 30vw;
    position: absolute;
    border-radius: 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0px;
    flex-direction: column;
}

.conteiner_listausuario {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(172, 201, 202, 0.747);
}

.conteiner_listaanimal {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(172, 201, 202, 0.747);
}

.conteiner_createUsuario {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(172, 201, 202, 0.747);
}

@media screen and(max-width: 600px) {

    body {
        float: none;
        text-align: center;
        width: 100%;
    }
}