<form action="/animalCreate" method="post" enctype="multipart/form-data">
    <div class="div-login">
        <div class="tela_login">
            <input class="form-control" type="text" name="nome" placeholder="Nome" id="div1">
            <br>
            <input class="form-control" type="text" name="nomeDoProprietario" placeholder="Nome Do Proprietario"
                id="div1">​​
            <br>
            <input class="form-control" type="text" name="endereco" placeholder="Endereco" id="div1">
            <br>
            <input class="form-control" type="text" name="tipo" placeholder="Tipo" id="div1">
            <br>
            <input class="form-control" type="text" name="raca" placeholder="Raca" id="div1">
            <br>
            <input class="btn btn-outline-primary" type="file" id="campoImagem" name="imagem" id="div1">
            <br><br>
            <input class="btn btn-primary" type="submit" value="Cadastrar" id="div1">
        </div>
    </div>
</form>