<form action="/animalCreate" method="post" enctype="multipart/form-data">
    <div class="div-login">
        <div class="tela_login" id="div2">
            <input class="form-control" type="text" name="nome" placeholder="Nome">
            <br>
            <input class="form-control" type="text" name="nomeDoProprietario" placeholder="Nome Do Proprietario">​​
            <br>
            <input class="form-control" type="text" name="endereco" placeholder="Endereco">
            <br>
            <input class="form-control" type="text" name="tipo" placeholder="Tipo">
            <br>
            <input class="form-control" type="text" name="raca" placeholder="Raca">
            <br>
            <input class="btn btn-outline-primary" type="file" id="campoImagem" name="imagem">
            <br><br>
            <input class="btn btn-primary" type="submit" value="Cadastrar">
        </div>
    </div>
</form>