<form action="/usuarioCreate" method="post">
    <div class="conteiner_createUsuario">
        <input class="input_cadastroUsuario" type="text" name="login" placeholder="Login">
        <br>
        <input class="input_cadastroUsuario" type="password" name="senha" placeholder="Senha">
        <br>
        <input class="input_cadastroUsuario" type="text" name="pergunta_secreta" placeholder="Pergunta Secreta">
        <br>
        <input class="input_cadastroUsuario" type="text" name="resposta_pergunta" placeholder="Resposta">
        <br>
        <input class="btn btn-primary" type="submit" value="Cadastrar">

    </div>
</form>