<form action="/usuarioCreate" method="post">
    <div class="div-login">
        <div class="tela_login">
            <input class="form-control" type="text" name="login" placeholder="Login">
            <br>
            <input class="form-control" type="password" name="senha" placeholder="Senha">
            <br>
            <input class="form-control" type="text" name="pergunta_secreta" placeholder="Pergunta Secreta">
            <br>
            <input class="form-control" type="text" name="resposta_pergunta" placeholder="Resposta">
            <br>
            <input class="btn btn-primary" type="submit" value="Cadastrar">

        </div>
    </div>
</form>